a:link {
    text-decoration: none;
}

.close-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 20px;
}

.tile .fa-times {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: black;
}

.gif {
    height: 30%;
    width: 30vh;
}




