.container.climbing {
    background-image: url("../../assets/fiets13.jpeg");
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.container.distance {
    background-image: url("../../assets/trainingpeak foto.jpg");
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.container.speed {
    background-image: url("../../assets/cyclists-601591_1920.jpg");
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

table {
    align-content: center;
    border: solid 1px black;
}

th {
    border-bottom: solid 3px red;
    color: black;
}

td {
    padding: 10px;
    border: solid 1px gray;
}



