* {
    font-family: Roboto, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/fiets13.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*.form-container {*/
/*    width: 150px;*/
/*    display: flex;*/
/*}*/

form {
  justify-content: flex-start;
    text-align: start;
}

input {
    display: block;
    border-radius: 3px;
}


.title {
    display: flex;
    flex-direction: column;

}

a:link {
    text-decoration: none;
}

.login-text{
    color: black;
    font-weight: bolder ;
    text-decoration: underline;
}



