form {
  justify-content: flex-start;
    text-align: start;
}

form input {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
}

form label {
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

.login-text{
    color: black;
    font-weight: bolder ;
    text-decoration: underline;
}



