.tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    /*justify-content: space-evenly;*/
    border: rgba(255,255,255, 0.5);
    text-align: center;
    border-radius: 10px;
    /*width: 60%;*/
    width: 60vh;
    min-height: 50vh;
    background-color: rgba(255,255,255, 0.5);
    flood-opacity: inherit;
}

