.score-logo {
    display: flex;
    background: white;
    position: relative;
    align-content: center;
    width: 15vw;
   height: 15vh;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 756px){

}
