.tile-score {
    display: flex !important;
    align-items: center !important;
    flex-direction: column!important;
    align-content: center!important;
    justify-content: space-evenly!important;
    border: rgba(255,255,255, 0.5);
    text-align: center!important;
    border-radius: 10px!important;
    width: 40vh!important;
    min-height: 40vh!important;
    background-color: rgba(255,255,255, 0.5)!important;
    flood-opacity: inherit!important;
    margin: 15px!important;
}

.score-logo {
    display: flex;
    background: white;
    position: relative;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media screen and (max-width: 756px){

}
