* {
    font-family: Roboto, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/fiets13.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    border: rgba(255,255,255, 0.5);
    text-align: center;
    border-radius: 10px;
    width: 60%;
    min-height: 40vh;
    background-color: rgba(255,255,255, 0.5);
    flood-opacity: inherit;
}

.title {
    display: flex;
    flex-direction: column;

}

.connect-with {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 125px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

p {
    color: black;
    border-bottom: black solid 1px;
}



