
.background {
    background-image: url("../assets/fiets13.jpeg");
    /* Full height */
    height: 87vh;
    position: relative;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

