* {
    font-family: Roboto, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/fiets13.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    border: rgba(255,255,255, 0.5);
    text-align: center;
    border-radius: 10px;
    width: 40vh;
    min-height: 40vh;
    background-color: rgba(255,255,255, 0.5);
    flood-opacity: inherit;
    margin: 25px;
}
.score-logo {
    display: flex;
    background: white;
    position: relative;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.home-text {

}


@media screen and (max-width: 700px) {
    .tile {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        border: rgba(255,255,255, 0.5);
        text-align: center;
        border-radius: 10px;
        width: 70%;
        min-height: 65vh;
        background-color: rgba(255,255,255, 0.5);
        flood-opacity: inherit;
    }
}
