* {
    font-family: Roboto, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/fiets13.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
}

form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

link .login-text{
    color: black;
    font-weight: bolder ;
    text-decoration: underline;
}



