input #client-secret,
input #clientId {
    width: auto;
}


.photo-div {
    display: flex;
    position: relative;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.picture {
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
}

