.about-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.go-to-strava {
    color: black;
    font-weight: bolder ;
    text-decoration: underline;
}

.contact-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
